# Font Awesome
@fortawesome/fontawesome-svg-core
@fortawesome/free-solid-svg-icons
@fortawesome/react-fontawesome

# React Commands
react-select
react-dropzone
react-icons
react-slick
next-auth
country-state-city
mui
react-notion
mui/icons-material